body {
	background: #f2f2f2;
}

scroll {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.scroll-content {
	padding: $headerH 0 $footerH;
}

.modle {
	margin: 15dp 0;
	padding: 8dp 15dp;
	background: #fff;
	border: 1px solid rgba(0,0,0,.1);
	border-width: 1px 0;
	font-size: 16dp;
}

.modle.active {
	background: rgba(0,0,0,.1);
}

.code {
	padding: 0 15dp;
	font-size: 12dp;
}