header {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	padding-top: 20dp;
	height: [header-height];
	background-clip: padding-box;
	transform: translate(0px, 0px) translateZ(0px);
}

scroll.main {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.scroll-vertical-scrollbar {
	margin-top: [header-height];
}

.block-top {
	height: [header-height];
}

.search-bar {
	width: 100%;
    padding: 10dp 15dp;
    /*height: 50dp;*/
}

.search-bar input {
 	display: block;
    width: 100%;
    padding: 0 5dp;
    height: 30dp;
    font-size: 16dp;
    font-weight: 400;
    border-radius: 6dp;
    background: #ebebee url('svg/icon-search.svg') center no-repeat;
    background-size: auto 64%;
}

.search-bar textarea {
	width: 100%;
    padding: 0 5dp;
    height: 70dp;
	font-size: 30dp;
	overflow: scroll;
}

.search-bar input:fouce {
	background: none;
}

scroll.banner-card {
	position: relative;
	display: block;
	margin: 0 5dp;
	min-height: 150dp;
	max-height: 250dp;
	height: 30vw;
}

@section (scroll.banner-card) {

	scrolling {
		position: absolute;
		z-index: 1;
		height: 100%;
	}

	.slide {
		position: absolute;
		z-index: 2;
		height: 100%;
	}

	.painting {
		height: 100%;
		margin: 0;
		background-color: #ececec;
		background-position: center;
		background-size: cover;
	}

	scrollbar {
		position: absolute;
		z-index: 9999;
		bottom: 15dp;
		right: 10dp;
		left: 10dp;
		height: 1px;
		background: rgba(255,255,255,.3);
	}

	.dotty {
		position: absolute;
		z-index: 1;
		height: 1px;
		background: rgba(255,255,255,0.8);
	}
}


	

section > h3 {
	position: relative;
	border: 0;
	margin: 0;
	padding: 18dp 0 12dp;
	color: #000;
	font-size: 18dp;
	font-weight: normal;
	text-align: left;
	background: none;
}

section > h3::before {
	display: none;
}

section > h3 small {
	display: block;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 18dp;
	color: #666;
	font-size: 12dp;
	line-height: 12dp;
	border: 0;
}

section > h3 small .icon-link {
    display: inline-block;
    width: 10dp;
    height: 8dp;
    background: url(/frameworks/svg/right-link.svg) no-repeat center right;
}

@section (scroll.flow-card) {
	this {
		position: relative;
		display: block;
		margin: 0 -12dp;
		height: 160dp;
	}
	scrolling {
		position: absolute;
		z-index: 1;
	}

	.card-info {
		position: absolute;
		z-index: 1;
		width: 70dp;
		transition: opacity .2s;
	}
	.card-info.active {
		opacity: .4;
	}

	.card-icon {
		width: 70dp;
		height: 70dp;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 12dp;
		background-color: #fff;
		background-size: 104% auto;
		background-repeat: no-repeat;
		background-position: center;
		background-clip: border-box;
		transition: opacity .2s;
	}

	.card-icon.active {
		opacity: .4;
	}

	.card-title {
		padding-top: 10dp;
		font-size: 12dp;
		line-height: 1.5;
	}

	.card-type-text {
		display: -webkit-box;
		display: box;
		font-size: 12dp;
		line-height: 1.5;
		line-clamp: 2;
		box-orient: vertical;
		overflow: hidden;
		color: #999;
	}

	.card-bar {
		position: relative;
		padding-top: 18dp;
		padding-left: 59dp;
		width: 159dp;
		height: 50dp;
	}

	.bar-icon {
		position: absolute;
		left: 0;
		z-index: 1;
		width: 44dp;
		height: 44dp;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 10dp;
		background-size: 106% auto;
		background-repeat: no-repeat;
		background-position: center;
		background-clip: border-box;
	}

	.bar-title {
		font-size: 12dp;
	}

	.foot-line {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 15dp;
		height: 0;
		border-bottom: solid 1px rgba(0, 0, 0, .15);
	}
}

@section (scroll.flow-card.components-card) {
	.card-info {
		width: 160dp;
		height: 142dp;
	}
	.card-icon {
		width: 160dp;
		height: 72dp;
		border-radius: 72dp;
	}
}

@section (scroll.flow-card.study-card) {
	.card-info {
		width: 160dp;
		height: 142dp;
	}
	.card-icon {
		width: 160dp;
		height: 72dp;
	}
}

@section (scroll.flow-card.big-card) {
	this {
		height: 185dp;
	}
	.card-info {
		width: 95dp;
		height: 165dp;
	}

	.card-icon {
		width: 95dp;
		height: 95dp;
		border-radius: 25dp;
	}
}


scroll.flow-card.photo-card {
	height: 390dp;
}

@section (scroll.flow-card.photo-card) {
	.card-info {
		width: 159dp;
		height: 283dp;
	}

	.card-banner {
		width: 159dp;
		height: 283dp;
		border: 1px solid rgba(0,0,0,.15);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-clip: border-box;
	}
}

.nav {
	background-color: #f5f5f5;
	text-align: left;
}

@section (.nav) {
	h3 {
		padding: 25dp 15dp 10dp;
		color: #666;
		font-size: 12dp;
	}
	ul {
		border: 0px solid rgba(0,0,0,.25);
		border-top-width: 1px;
		border-bottom-width: 1px;
	}
	li {
		height: 43dp;
		text-align: left;
		overflow: visible;
		background-color: #fff;
	}
	.link-box {
		display: flex;
		box-align: center;
    	align-items: center;
	}
	a.nav-link {
		display: block;
		position: relative;
		padding: 10dp 15dp;
		width: 100%;
		text-decoration: none;
    	line-height: 1.5;
    	font-size: 16dp;
    	color: #333;
    	font-weight: bold;
    	tap-highlight-color: rgba(0,0,0,0);
    	overflow: visible;
	}
	a.active {
		background-color: rgba(0,0,0,.1);
	}
	a:hover, a:active {
		color: inherit;
	}
	a.nav-link:before {
	    content: " ";
	    display: block;
	    position: absolute;
	    left: 15dp;
	    bottom: 0;
	    right: 0;
	    border-top: 1px solid rgba(0,0,0,.25);
	}
	li:last-child a:before {
		border: 0;
	}

	.title {
	    flex: 1;
	    display: inline-block;
	    text-align: left;
	}
	.icon-topic {
		margin-right: .7em;
		width: 28dp;
		height: 28dp;
		text-align: center;
	}
	.icon-topic img {
		margin: 0;
		width: 28dp;
		max-height: 28dp;
	    border: 0;
	}
	.icon-link {
		display: inline-block;
		width: 12dp;
		height: 12dp;
		background: url(svg/right-link.svg) no-repeat center right;
	}
}

@media screen and (max-width: [max-width]) {	
	section > h2.main-title {
		display: none;
	}
	scroll.banner-card scrollbar {
		display: none;
	}
}