<style>
	range {
		position: relative;
		display: box;
		margin: 0 5dp;
		height: 50dp;
	}

	.slider {
		position: relative;
		margin-top: 25dp;
		box-flex: 1; 
	 	height: 4dp;
	 	min-width: 100dp;
	}

	.greay {
		width: 100%;
		height: 4dp;
		border-radius: 2dp;
	 	background: #5a5a5a;
	 	overflow: hidden;
	 	transform: translate(0px, 0px) translateZ(0px);
	}

	.light {
		position: absolute;
		z-index: 1;
		height: 4dp;
		width: 100%;
		border-radius: 2dp;
		background: #007aff;
		transform: translateX(-1000dp);
	}

	.circle {
		position: absolute;
		z-index: 9;
		margin-top: -13dp;
		width: 30dp;
		height: 30dp;
		border-radius: 15dp;
		box-shadow: 0 4dp 4dp rgba(26,53,71,.25), 0 0 0 1dp rgba(26,53,71,.07);
		background: #fff;
	}

	mark {
		display: block;
		box-sizing: border-box;
		position: absolute;
		z-index: 1;
		top: -19dp;
		margin: -2dp;
		padding: 2dp 0;
		width: 34dp;
		text-align: center;
		font-size: 14dp;
		background-color: #fff;
		border: 1dp solid rgba(0,0,0,.1);
		box-shadow: 0 4dp 8dp rgba(26,53,71,.15);
		border-radius: 6dp;		
	}

	mark:after {
		content: ' ';
	    display: inline-block;
	    position: absolute;
	    left: 50%;
	    bottom: -4dp;
	    z-index: 1;
	    margin-left: -4dp;
	    width: 0;
	    height: 0;
	    vertical-align: middle;
	    border-top: 4dp dashed;
	    border-right: 4dp solid transparent;
	    border-left: 4dp solid transparent;
	    border-width: 5dp 5dp 0;
    	border-bottom-width: 0;
    	border-top-color: #fff; 
    	box-shadow: 0 4dp 3dp rgba(26,53,71,.05);
	}

	.icon {
		display: block;
		margin-top: 16dp;
		width: 36dp;
		height: 20dp;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
	}

</style>

<if styler>
	<include name={styler}></include>
</if>


<script>
	// 独立的组件作用域
	// on-swiperight="open(event)" ： 当发生swiperight事件时执行open，如果open不存在会跳到全局查找；
	// 注意查询components文档，这里存在一些默认变量，比如 root 和 components global 等

	var sliderW
	  , circleW
	  , oldvalue
	  , maxSlider
	  , lightLine = node('light')
	  , circleBtn = node('circle')
	  , rangeMark = scope.bubble ? node('mark') : null

	if ( isNaN(scope.value) ) {
		scope.value = 0
	}

	function init() {
		sliderW = lightLine.width()
		circleW = node('circle').width()

		maxSlider = sliderW - circleW
	}

	// resize

	window.on('resize', function () {
		init()
		pos()
	})

	init()

	function pos (x) {
		x = typeof x == "number" ? x : (scope.value / 100) * sliderW
		rangeMark && rangeMark.style.set('transform', 'translate3d(' + x + 'px, 0px, 0px)')
		circleBtn.style.set('transform', 'translate3d(' + x + 'px, 0px, 0px)')
		lightLine.style.set('transform', 'translate3d(' + (x - sliderW) + 'px, 0px, 0px)')
	}

	function move (event) {

		var target = event.target,
			x = event.deltaX,
			start = target.data('x') || 0

		x = x + parseInt(start)

		if ( x < 0 ) x = 0
		if ( x > maxSlider ) x = maxSlider

		pos(x)

		oldvalue = x

		scope.value = parseInt((x / maxSlider) * 100)

		components.trigger('onflow', {value : scope.value})
	}

	function end(event) {
		var target = event.target
		  , value = parseInt((oldvalue / maxSlider) * 100)

		target.data('x', oldvalue)

		// 将结果赋值给组件本身，便于外部获取信息，当然也可以采取别的方式
		
		components.attr("value", value)

		components.trigger('onchange', {value : value})

		// 也可以在这里加一个结束的惯性动画
	}


	var value = parseInt(scope.value)

	var defx = (value / 100) * sliderW

	pos(defx)

	circleBtn.data('x', defx)

	components.register('onchange')
	components.register('onflow')

	node('slider').addEventListener('mousemove', function (e) {
		e.stopPropagation()
	}, false)

</script>

<range>
	<if iconmin>
		<icon uuid="icon-min" class="icon icon-min" style="background-image: url(-/{iconmin})"></icon>
	</if>

	<if bubble>
		<mark uuid="mark">
			{value}
		</mark>
	</if>

	<div uuid="slider" class="slider">
		
		<div uuid="circle" on-pan="move(event)" on-panend="end(event)" class="circle"></div>

		<div class="greay">
			<div uuid="light" class="light"></div>
		</div>
	</div>

	<if iconmax>
		<icon uuid="icon-max" class="icon icon-max" style="background-image: url(-/{iconmax})"></icon>
	</if>
</range>