body {
	background-color: rgb(221, 223, 226);
}

i {
	display: inline-block;
	background-image: url(img/common.png);
	background-repeat: no-repeat;
}

@section (header) {
	this {
		position: absolute;
	    background: #3b5998;
	    box-sizing: border-box;
	    height: 44dp;
	    margin: 0 auto;
	    width: 100%;
	    z-index: 12;
	}

	nav ul {
		display: flex;
		text-align: center;
	}

	nav li {
		flex: 1;
		font-size: 0;
		line-height: 0;
	}

	nav li.active {
		background: #243c6d;
	}

	i {
		height: 44dp;
    	margin: 0 auto;
    	position: relative;
    	width: 40dp;
    	background-size: 401dp 194dp;
	}

	.icon-feed {
    	background-position: -63dp -78dp;
	}
	.icon-contact {
	    background-position: -205dp -124dp;
	}
	.icon-message {
    	background-position: -268dp -78dp;
	}
	.icon-note {
    	background-position: -41dp -124dp;
	}
	.icon-search {
    	background-position: -186dp -78dp;
	}
	.icon-menu {
    	background-position: -104dp -78dp;
	}
}

@section (.input-box) {
	this {
		margin-top: 48dp;
		margin-bottom: 8dp;
		background-color: #fff;
	}

	nav {
		position: relative;
	}

	nav ul {
		display: flex;
		text-align: center;
	}

	nav li {
		flex: 1;
		color: #1d2129;
	    font-size: 12dp;
	    font-weight: bold;
	    line-height: 20dp;
	    margin: 0;
	    padding: 8dp 9dp 9dp 11dp;
	}

	nav::after {
	    border-bottom: 1px solid #dddfe2;
	    bottom: 0;
	    content: '';
	    display: block;
	    left: 10dp;
	    position: absolute;
	    right: 10dp;
	}

	.content {
		display: flex;
		padding: 6dp 10dp;
	}

	.content .avt {
		margin-right: 10dp;
		width: 40dp;
		height: 40dp;
		background: #d8dce6 url(static/me.jpg) no-repeat center;
		background-size: 100% 100%;
	}

	.content textarea {
		flex: 1;
    	width: 0;
    	height: 54dp;
	}

	nav i {
		vertical-align: top;
		margin-right: 6dp;
		background-size: 109dp 152dp;
		background-image: url(img/input.png);
		background-repeat: no-repeat;
		height: 20dp;
    	width: 20dp;
	}

	.icon-picture {
    	background-position: -39dp -91dp;
	}

	.icon-location {
	    background-position: 0 -131dp;
	}

	.icon-more {
	    background-position: -81dp -91dp;
	}

	.ft {
		display: flex;
		background-color: #f6f7f9;
    	border-top: 1px solid #dddfe2;
    	padding: 7dp;
	}

	.view-ctl {
		flex: 1;
    	width: 0;
	}

	.icon-global {
		background-image: url(img/global.png);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    width: 31dp;
	    height: 25dp;
	}

	.icon-dropdown {
		background-image: url(img/dropdown.png);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    width: 11dp;
	    height: 25dp;
	}

	button {
		background-color: #627aad;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
		text-shadow: 0 -1px rgba(0, 0, 0, .25)
		font-size: 12dp;
		color: #fff;
		padding: 0 9dp;
		border-radius: 3dp;
	}
}

@section (article) {
	margin: 0 0 8dp 0;
	background-color: #fff;
}