body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
	color: #fff;
	background: #27272d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a {
	outline: none;
	color: #fdf7b5;
	text-decoration: none;
}

a:hover, a:focus {
	color: #fff;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.htmleaf-container{
	margin: 0 auto;
}
/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Buttons */

.btn {
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	pointer-events: auto;
	color: #fdf7b5;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	color: #fff;
}

.btn--start {
	border: 2px solid;
	border-radius: 1.85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.95em;
	padding: 1em 2em;
	margin: 0 auto;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.btn--github {
	position: absolute;
	right: 1em;
	top: 0.75em;
	font-size: 1.5em;
	margin: 0.15em 0 0 0;
}

.btn--github .icon {
	stroke: #fdf7b5;
	fill: none;
}

.btn--github:hover .icon,
.btn--github:focus .icon {
	stroke: #fff;
}