<style>
body {
	font-family: arial;
}
h1,h2,h3,h4,h5,h6 {
	margin: 10dp 0;
	padding: 0;
}
.btn {
	padding: 10dp 15dp;
	
	font-size: 15dp;
	font-weight: normal;
	line-height: 1.4;
	color: #ffffff;
	
	background-color: #4FB2F0;
	
	border: none;
	border-radius: 4dp;

	box-shadow: inset 0 -2dp 0 rgba(0, 0, 0, 0.15);
}
.btn:hover,
.btn:focus {
	color: #ffffff;
	outline: none;
}
.btn:active,
.btn.active {
	outline: none;
		box-shadow: inset 0 2dp 0 rgba(0, 0, 0, 0.15);
}

.dd-dropbox {
	opacity: .4;
	padding: 40dp 20dp;
	color: #bbbbbb;
	float: left;
	border: 3dp dashed #dddddd;
	border-radius: 4dp;
}
	.dd-dropbox h3 {

	}
	.dd-dropbox h6 {
		text-align: center;
	}
	.dd-dropbox button {
		margin: 0 10px;
	}

.dd-previewer {
	
}
	.dd-previewer img {
		width: 100dp;
		height: 100dp;
	}


.dd-upload-pending {
	box-shadow: 0 0 3dp yellow;
}
.dd-upload-success {
	box-shadow: 0 0 3dp green;
}
.dd-upload-error {
	box-shadow: 0 0 3dp red;
}
</style>

<if mini>
	<style>
		.dd-dropbox {
			padding: 0;
			border: 0;
		}
		.dd-dropbox h3, .dd-dropbox h6 {
			display: none;
		}
		.dd-dropbox button.btn {
			padding: 4dp;
			width: 100%;
			height: 100%;
			box-shadow: none;
		}
		.dd-previewer {
			display: none;
		}
	</style>
</if>

<if styler>
	<include name="{{styler}}"></include>
</if>


<script import global>
    import _upload from 'upload'
    var upload = _upload
</script>


<script>

var options = {
		input: 'attach',
		allowed: ['image/jpeg', 'image/png'],
		data: {},
		limit: 9,
		element: {
			root: root,
			dropbox: node("dd-dropbox"),
			previewer: node("dd-previewer"),
			fileInputBtn: node("dd-fileInputBtn")
		},
		parseData: function (data) {
			return data
		},
		onStart: function () {
			components.trigger('start')
		},
		onPreview: function (file) {
			components.trigger('preview', {file:file})
		},
		onProgress: function () {
			components.trigger('progress')
		},
		onComplete: function(data, file, input) {
			components.trigger('complete', {response:this.parseData(data), file:file, input: input})
		},
		onError: function(type) {
			components.trigger('error', {type:type})
		}

	}.extend(scope)


global.call(function (options, node) {
 	// Create a new DropFileUploader
	var uploader = new upload(options)
 	node('dd-dropbox').style.opacity = 1

}, options, node)


</script>

<div uuid="dd-dropbox" class="dd-dropbox">
	<h3>{{lang.dragAndDrop || 'Drag and drop files here'}}</h3>
	<h6>{{lang.or || 'or'}}</h6>
	<button uuid="dd-fileInputBtn" class="btn dd-fileInputBtn">{{lang.clickHere || 'Click here to upload files'}}</button>
</div>

<div uuid="dd-previewer" class="dd-previewer"></div>
