<style>
    img {
        width: 100%;
        display: block;
    }
    mark {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 0;
        height: 0;
        background: rgba(255,255,255,0.15);
        border: 1.5dp solid #fe0;
        box-shadow: 0 0 5dp #000;
    }
    .img-box {
        position: relative;
        white-space: nowrap;
    }
</style>

<div uuid="img-box" class="img-box">
    <img uuid=images src="{this['image-src']}">
</div>

<script import global>
    import FacePP from 'facepp-sdk'
</script>

<script>
    global.call(function (node, scope) {
        var imgbox = node('img-box')
        var api = new FacePP('d2bf946ebdbe6d57b062d310da6992c6', 'n_MEHzfEIrtbALXvFBKgqhSdWE5LIwSM')
        api.request('detection/detect', {
            url: node('images').src
        }, function(err, result) {
            if ( err ) {
                // TODO handle error
                return
            }

            var face = result

            if ( !face.face.length ) return

            function mark (x, y, w, h) {

                var m = document.createElement('mark')
                m.style.top = (y-h/2) + '%'
                m.style.left = (x-w/2) + '%'
                m.style.width = w + '%'
                m.style.height = h + '%'

                imgbox.appendChild(m)
            }

            face.face.each(function (i, val) {
                var _x = val.position.center.x
                var _y = val.position.center.y
                var _w = val.position.width
                var _h = val.position.height

                mark(_x, _y, _w, _h)
            })

            console.log(face)
        })
    }, node, scope)
</script>