<style>
	button {
		outline: 0;
	}
	.follow-btn {
		padding: 0 12dp;
		height: 30dp;
		text-align: center;
		font-size: 15dp;
		line-height: 30dp;
		background: #2087fc;
		border: 1px solid rgba(0,0,0,.1);
		background-clip: border-box;
		color: #fff;
		font-weight: bold;
		border-radius: 15dp;
	}
	.follow-btn .following {
		display: none;
	}
	.following{
		background: #ED143D;
	}
	.following .following {
		display: block;
	}
	.following .follow {
		display: none;
	}
</style>

<script>
	
</script>

<button class="follow-btn" toggle-class="following|tap">
	<span class="follow">{{test.follow}}</span>
	<span class="following">{{test.following}}</span>
</button>