@var {
	iconMargin: 4px;
	iconWidth: @((100vw - 4) / 3);
	iconHeight: @((100vh - 4*5) / 6);
	bannerWidth: @(2 * ((100vw - 4) / 3));
	bannerHeight: @(2 * ((100vh - 4*5) / 6) + 4);
	gridDl: @(2 * ((100vh - 4*5) / 6) + 4);
}

/*注意："<>" 的执行符号不可做变量重复在 "<>" 中再带入*/

body {
	text-align: center; 
	overflow: hidden;
	overflow-y: hidden;
	background: #000;
}

#grid {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid dl, .icon-content div:first-child {
	margin-bottom: [iconMargin];
}

.icon, .banner {
	background-color: #444;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.icon-content, .icon {
	width: [iconWidth];
	height: [iconHeight];
}

.banner-content, .banner {
	width: [bannerWidth];
	height: [bannerHeight];
}

#scroller {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0
	left: 0;
	width: 100%;
	height: 100%;
}

.grid dl {
	width: 100%;
	height: [gridDl];
}

.viewport-flip {
	perspective: 1000;
	position: absolute;
}

.flip {
	transform: translateX(0);
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.flip.front {
	animation-name: flipfront;
	transform: rotateX(0deg);
}

.flip.back {
	animation-name: flipback;
	transform: rotateX(180deg);
}

@keyframes flipfront {
    0% { transform: rotateX(180deg); }
    50% { transform: rotateX(90deg) scale(.8); opacity: .1; }
    100% { transform: rotateX(0deg); }
}

@keyframes flipback {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(90deg) scale(.8); opacity: .1; }
    100% { transform: rotateX(180deg); }
}




