scroll {
	background: #fff;
}
scroll scrolling {
	background: #fff;
}
.grid {
	margin: 0 0;
	padding: 2dp 0;
}
.grid::after {
	content: ' ';
	display: block;
	clear: both;
}
.item {
	float: left;
	display: block;
	width: calc(25vw - 2dp);
	height: calc(25vw - 2dp);
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 1dp;
}
@media screen and (min-width: 800dp) {  
	.item {
		width: calc(16.6666667vw - 2dp);
		height: calc(16.6666667vw - 2dp);
	}
}
@media screen and (min-width: 1200dp) {  
	.item {
		width: calc(12.5vw - 2dp);
		height: calc(12.5vw - 2dp);
	}
}
@media screen and (min-width: 1600dp) {  
	.item {
		width: calc(10vw - 2dp);
		height: calc(10vw - 2dp);
	}
}
@media screen and (min-width: 3000dp) {  
	.item {
		width: calc(6.6666667vw - 2dp);
		height: calc(6.6666667vw - 2dp);
	}
}

.hd {
	padding: 15dp 4dp 8dp;
}
.title {
	font-size: 16dp;
}
.desc {
	font-size: 12dp;
}

