html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	padding-top: 20dp;
	min-height: 42dp;
	background-color: #47d8cb;
	background-clip: padding-box;
}
	header .back_button {
		position: absolute;
		width: 46dp;
		height: 36dp;
		background: url('/frameworks/svg/icon-common-back.svg') center no-repeat;
		background-size: auto 100%;
	}
	header h1 {
		height: 42dp;
		color: #fff;
		line-height: 1.5;
		font-weight: 600;
		font-size: 21dp;
		font-family: "Helvetica","sans-serif";
		text-align: center;
	}

	.hot {
		background-color: #ed5f64;
	}
	.new {
		background-color: #fcaf40;
	}
	.puzzle {
		background-color: #39cdba;
	}
	.shooting {
		background-color: #6eb1f3;
	}
	.funny {
		background-color: #f27aad;
	}
	.action {
		background-color: #7970ce;
	}
	.adventure {
		background-color: #fc794c;
	}
	.casual {
		background-color: #69c05f;
	}

#viewport {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

#wrapper {
	position: absolute;
	top: $headerH;
	bottom: 0;
	width: 100%;
}

.content {
	padding: 20dp;
}

.content h1 {
	font-size: 36dp;
	margin-bottom: 20dp;
	text-align: center;
}

.content p {
	margin-bottom: 15dp;
	font-size: 18dp;
	text-indent: 36dp;
}
