<style>
	#switch, #circle {
	  height: 30dp;
	  transition: .4s;
	}

	#switch {
	  width: 60dp;
	  border: 2dp solid #E8EAEC;
	  border-radius: 27dp;
	  background: #FAFAFB;
	}

	#circle {
	  width: 30dp;
	  border-radius: 15dp;
	  box-shadow: 0 4dp 4dp rgba(26,53,71,.25), 0 0 0 1dp rgba(26,53,71,.07);
	  background: #fff;
	}

	#circle.active {
		width: 35dp;
	}

	#switch.active {
	  border-color: #41C955;
	  background: #52D468;
	}

	#switch.active #circle {
	  transform: translateX(<60dp - 35dp>); /*100% 的单位会让某些低版本系列产生不好的渲染效果或不支持*/
	}

	#switch.active.end #circle {
	  transform: translateX(<60dp - 30dp>); /*100% 的单位会让某些低版本系列产生不好的渲染效果或不支持*/
	}
</style>

<script>
	// 独立的组件作用域
	// on-swiperight="open(event)" ： 当发生swiperight事件时执行open，如果open不存在会跳到全局查找；
	// 注意查询components文档，这里存在一些默认变量，比如 root 和 components global 等

	function switchStart (event) {
		DOM["switch"].removeClass('end');
		DOM["circle"].addClass('active');
	}

	function switchEnd (event) {
		DOM["switch"].addClass('end');
		DOM["circle"].removeClass('active');

		// 通过修改 组件 value 将 结果传递为外界
	}

	var value = DOM["switch"].attr('value');

	if (value) {
		DOM["switch"].addClass('active end');
	}
</script>

<div uuid="switch" id="switch" value="{{value}}" toggle-class="active | panright panleft" on-panstart="switchStart(event)" on-panend="switchEnd(event)">
  <div uuid="circle" id="circle"></div>
</div>