html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

header {
	box-sizing: content-box;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 49dp;
	background: rgba(255, 101, 50, 1);
  	background-size: 100% 100%;
  	background-position: 0 0;
  	background-repeat: no-repeat;
	background-clip: padding-box;
	backdrop-filter: blur(20dp);
}

.iScrollLoneScrollbar {
	padding-top: 51dp;
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
  }
}
.load6 {
  margin: 0 auto;
  width: 100dp;
  text-align: center;
}
.load6 > div {
  width: 10dp;
  height: 10dp;
  background-color: #fe5a4c;
  border-radius: 10dp;
  display: inline-block;
  animation: bouncedelay 1.4s infinite ease-in-out;
  animation-fill-mode: both;
}
.load6 .bounce1 {
  animation-delay: -0.48s;
}
.load6 .bounce2 {
  animation-delay: -0.32s;
}
.load6 .bounce3 {
  animation-delay: -0.16s;
}
pullup, pulldown {
  bottom: -40dp;
  width: 100%;
  padding: 10dp 0;
  height: 40dp;
  line-height: 20dp;
  text-align: center;
  font-size: 13dp;
  color: #666;
  z-index: 99999;
}

pulldown {
  bottom: auto;
  top: -40dp;
}

.mirroring header {
	display: none;	
}

	header .header-wrap {
	  padding-left: 106dp;
	  padding-top: 8dp;
	  padding-bottom: 8dp;
	  width: 100%;
	  box-sizing: border-box;
	  padding-right: .8rem;
	  background: url('img/logo.png') no-repeat;
	  background-size: 32dp 24dp;
	  background-position: 50dp center;
	}

	#search-placeholder {
	  height: 33dp;
	  line-height: 33dp;
	  font-size: 16dp;
	  width: 100%;
	  color: #fffcf8;
	  box-sizing: border-box;
	  padding-left: 3.8rem;
	  background: url('img/seach.png') no-repeat 2.75rem center;
	  background-color: rgba(232, 81, 42, 0.8);
	  border-radius: 4dp;
	  background-size: 17dp 17dp;
	}

	header .back_button {
		position: absolute;
		left: 0;
		width: 46dp;
		height: 36dp;
		background: url('/frameworks/svg/icon-common-back.svg') center no-repeat;
		background-size: auto 100%;
	}
	header h1 {
		height: 42dp;
		color: #fff;
		line-height: 1.5;
		font-weight: 600;
		font-size: 21dp;
		font-family: "Helvetica","sans-serif";
		text-align: center;
	}


hr {
	border: 0;
	width: 100%;
	height: 11dp;
	background-color: rgb(238, 238, 238);
}

#viewport {
	position: absolute;
	top: 49dp;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}

/*banner*/

@var {
	bannerH: @(100vw/3.2);
}

#banner-wrapper {
	display: block;
	box-sizing: content-box;
	width: 100vw;
	height: [bannerH];
	margin-bottom: 10dp;
}

#scroller-banner {
	position: absolute;
	z-index: 1;
	tap-highlight-color: rgba(0,0,0,0);
	width: 400vw;
	height: [bannerH];
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}

.slide {
	width: 100vw;
	height: [bannerH];
	float: left;
}

.painting {
	height: [bannerH];
	margin: 0;
	background-color: #ccc;
	background-size: cover;
}

/*tentrance*/

.tentrance ul {
	display: box;
}
.tentrance ul li {
  box-flex: 1;
  list-style: none;
  height: 76dp;
  text-align: center;
}
.tentrance ul li i {
	display: inline-block;
	width: 45dp;
	height: 45dp;
	background-size: cover;
    background-position: 50% 50%;
}
.tentrance ul li span {
	display: block;
	font-size: 12dp;
	font-weight: bold;
  	color: rgb(102, 102, 102);
}


/*toutiao*/

.toutiao {
  padding: 2dp 0;
  border-top: 1px solid rgb(232, 232, 232);
}
.toutiao .logo {
  display: block;
  float: left;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(232, 232, 232);
  width: 82dp;
  height: 28dp;
  background: url('img/toutiao.png') center no-repeat;
  background-size: 80%;
}
.toutiao .icon {
  display: block;
  float: left;
  margin: 4dp 4dp 4dp 8dp;
  padding: 0 6dp;
  height: 20dp;
  line-height: 20dp;
  border: 1dp solid rgb(216, 20, 33);
  border-radius: 4dp;
  color: rgb(216, 20, 33);
  font-size: 10dp;
  font-weight: bold;
}
.toutiao .title {
	float: left;
	color: rgb(53, 53, 53);
    font-size: 13dp;
    line-height: 24dp;
    font-weight: bold;
}

/*rushbuy*/

@var {
	rushbuyH: @(100vw/2);
}


.rushbuy {
	display: box;
}
.rushbuy .h1 {
	height: [rushbuyH];
	box-flex: 1.35;
	border-right: 1px solid rgb(232, 232, 232);
	background: url('img/tq0.png') 0 0 no-repeat;
	background-size: 100% 100%;
}
.rushbuy .h2 {
	position: relative;
	height: [rushbuyH];
	box-flex: 2;
}
.rushbuy .v1 {
	height: 40%;
	border-bottom: 1px solid rgb(232, 232, 232);
	background: url('img/tq1.png') 0 0 no-repeat;
	background-size: 100% 100%;
}
.rushbuy .v2 {
	float: left;
	width: 50%;
	height: 60%;
	border-right: 1px solid rgb(232, 232, 232);
	background: url('img/tq2.jpg') 0 0 no-repeat;
	background-size: 100% 100%;
}
.rushbuy .v3 {
	float: left;
	width: 50%;
	height: 60%;
	background: url('img/tq3.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

/*specialGuide*/

@var {
	specialGuideH: @(100vw/2);
}

.specialGuide {

}

.specialGuide .title {
	height: 36dp;
	border-left: 5dp solid rgb(47, 93, 224);
	font-size: 15dp;
	color: rgb(34, 34, 34);
	font-weight: bold;
	line-height: 36dp;
	text-indent: 5dp;
}

.specialGuide .content {
	display: box;
	border-top: 1px solid rgb(232, 232, 232);
}
.specialGuide .h1 {
	height: [specialGuideH];
	box-flex: 1;
	border-right: 1px solid rgb(232, 232, 232);
	background: url('img/ts0.jpg') 0 0 no-repeat;
	background-size: 100% 100%;
}
.specialGuide .h2 {
	position: relative;
	height: [specialGuideH];
	box-flex: 1;
}
.specialGuide .v1 {
	height: 50%;
	border-bottom: 1px solid rgb(232, 232, 232);
	background: url('img/ts1.png') 0 0 no-repeat;
	background-size: 100% 100%;
}
.specialGuide .v2 {
	height: 50%;
	background: url('img/ts2.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

@var {
	adH: @(100vw/5);
}

.ad {
	height: [adH];
}

.ad0 {
	background: url('img/ad0.jpg') 0 0 no-repeat;
	background-size: cover;
}

.item-wrap {
	float: left;
	width: 50%;
	min-height: 300dp;
	margin-bottom: 10dp;
}

.item-wrap {
	min-height: 80dp;	
}

@var {
	itemH: @((100vw-50dp)/2 + 70dp);
	itemPicH: @((100vw-50dp)/2);
}


.item-wrap .item {
	margin: 5dp 12dp;
	height: [itemH];
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5dp;
	background-clip: content-box;
}
.item-wrap .pic {
	margin: -1px;
	height: [itemPicH];
	background-size: cover;
	border-radius: 5dp 5dp 0 0;
}
.item-wrap .title {
	color: #666;
	margin: 5dp 8dp;
	height: 28dp;
	overflow: hidden;
	line-height: 14dp;
	position: relative;
	word-break: break-all;
	font-size: 12dp;
}
.item-wrap .price {
  box-sizing: border-box;
  border-top: 1px dashed #ddd;
  font-size: 14dp;
  height: 28dp;
  line-height: 28dp;
  margin: 0 8dp;
  color: #ff5000;
}

