html,
body {
	color: #333;
    /*font-family: "Myriad Set Pro 200","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;*/
    /*font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;*/
    font-family:  "HanHei SC","PingHei","PingFang SC","Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    /*font-smoothing: antialiased;*/
    font-weight: normal;
    font-size: 14dp;
    /*text-size-adjust: 100%;*/
    font-smoothing: antialiased;
    /*background: #f3f4f5;*/
    background: transparent;
}
/*:lang(zh-CN) {
	font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
}*/

module-container[type=module] {
    background-color: transparent;
}

a {
    color: [active-color];
    line-height: inherit;
}

a:hover {
    cursor: pointer;
}

p {
    margin: 12dp 0;
	font-size: 15dp;
    font-style: normal;
    line-height: 1.59091;
    letter-spacing: 0;
    word-spacing: 0.05em;
    word-wrap: break-word;
}

ul, ol, dl {
    font-size: 15dp;
    line-height: 1.59091;
    margin-bottom: 20dp;
    list-style-position: outside;
    font-family: inherit;
}

ul.disc {
    padding-left: 1.2em;
    list-style-type: disc !important;
}

ul.square {
    list-style-type: square !important;
}

ul.circle {
    list-style-type: circle !important;
}

ul.decimal {
    list-style-type: decimal !important;
}

ul li {
    margin-bottom: 10dp;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    margin: 3dp 0 5dp;
    line-height: 1.125;
    letter-spacing: 0;
}

h1 { font-size: 24dp; }
h2 { font-size: 20dp; }
h3 { font-size: 18dp; }
h4 { font-size: 16dp; }
h5 { font-size: 14dp; }

.color-red {
    color: #ff0000;
}
.color-blue {
    color: [active-color];
}
.color-green {
    color: #009999;
}

@class wrapper () {
	position: relative;
	margin: 0 auto;
	max-width: [max-width];
}

@class model () {
    margin-bottom: 10dp;
    padding: 15dp 12dp 0;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6dp;
}

/*兼容一像素横线*/
@class pixeborder () {
    background-position: left bottom;
    background-image: gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,rgba(0,0,0,.1)),to(rgba(0,0,0,.1)));
    background-repeat: repeat-x;
    background-size: 100% 1px;
}

@class piexborderradius (r) {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1dp solid rgba(0,0,0,.1);
    transform: scale(0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: [r]dp;
    pointer-events: none;
}

@class coverBackground (color) {
    background-color: [color];
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.wrapper {
    @class: wrapper();
    padding: 0 14dp;
}

.btn {
    position: relative;
    display: inline-block;
    overflow: visible;
    padding: 5dp 10dp;
    font-size: 13dp;
    font-weight: bold;
    line-height: 18dp;
    color: #333;
    text-shadow: 0 1dp 0 rgba(255,255,255,.5);
    background-color: #ddd;
    background-repeat: repeat-x;
    background-image: linear-gradient(white,#ddd);
    border: 1px solid #CCC;
    cursor: pointer;
    border-radius: 4dp;
    box-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.btn i {
    display: inline-block;
    width: 20dp;
    height: 16dp;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-top;
}

.btn:hover {
    background-color: #d8d8d8;
    background-image: linear-gradient(#f8f8f8,#d8d8d8);
    border-color: #bbb;
}

.btn:active {
    box-shadow: inset 0 3dp 7dp rgba(0,0,0,.1), 0 1dp 2dp rgba(0,0,0,.05);
}

.group-actions {
    line-height: 30dp;
    padding: 10dp;
}

section {
    @class: model();
}

/*主文档视图框*/
@section (article) {
    this {
        position: relative;
        margin: 0 auto;
        padding: @([header-height] + 10dp) 14dp 0;
        width: [max-width];
    }

    this:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }
    
    > section {
        float: right;
        width: [article-width];
        @class: model();
    }

    > section.blank {
        border: 0;
        padding: 0;
        background-color: transparent;
        overflow: visible;
    }
}

@media screen and (max-width: [max-width]) {  
    html,
    body {
        background: #fff;
    }

    .wrapper {
        margin: 0;
        padding: 0;
        max-width: auto;
    }

    @section (article) {
        this {
            position: relative;
            margin: 0 auto;
            padding: @([header-height] - 1) 0 0;
            width: 100%;
        }
        > section {
            width: 100%;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
        }
    }

    @section (section) {
        this, this.sub, this.sup, this.sub.o, this.sup.o {
            margin: 0;
        }
        this.sub ul, this.sup ul {
            display: block;
        }
        /*h3, this.sub h3, this.sup h3 {
            color: #4e5665;
            background: #f6f7f8;
        }*/
        this.sup h3 i, this.sub h3 i {
            display: none;
        }
    }
}