scroll[fullscreen] {
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
}

scroll[fullscreen] > scrollbar {
    padding: [header-height] 0 0 0;
}

section h1, section h2, section h3 {
    font-size: 18dp;
    line-height: 20dp;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin: -15dp -12dp 18dp;
    padding: 12dp;
    border-bottom: 1px solid #e8e8e8;
}

section.blank h1, section.blank h2, section.blank h3 {
    @class: model();
    margin: 0;
    padding: 12dp;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

section h4 {
    font-size: 16dp;
    line-height: 20dp;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

section h3 {
    font-size: 15dp;
    font-weight: 700;
    margin-top: 30dp;
    margin-right: 0;
    margin-left: 5dp;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
    border-radius: 6dp;
}

section h3 small {
    padding: 0 5dp;
    border: 1px solid [active-color];
    font-size: 12dp;
    color: [active-color];
    margin-left: 15dp;
}

section h3::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 12dp;
    height: 12dp;
    background-color: [active-color];
    margin: 4dp auto auto -18dp;
}

section h1 small, section h2 small {
    display: block;
    margin-bottom: -10dp;
    color: #657786;
    font-size: 12dp;
    font-weight: normal;
}

section h2 span, section h3 span {
    float: right;
    font-size: 12dp;
    color: [active-color];
}

section.footer {
    padding: 12dp;
}

section.footer .logo {
    margin: 0 auto;
    width: 150dp;
    height: 60dp;
    background: url(svg/ioing-gray.svg) center no-repeat;
    background-size: auto 24dp;
}

nav {
    margin-left: 16dp;
}

nav ul li {
    list-style-type: disc;
}

blockquote, blockquote p {
    margin: 0;
    font-size: 13dp;
    word-break: break-all;
    word-wrap: break-word;
}

blockquote {
    margin: 0 0 20dp;
    padding: 10dp 15dp;
    font-size: 13dp;
    border: 1dp solid [active-color];
    border-radius: 6dp;
}

blockquote h5 {
    color: [active-color];
    font-size: 16dp;
    font-weight: 400;
}

p > span, blockquote > span {
    color: #ed143d;
    padding: 0 4dp;
}
p > a, blockquote > a, td > a {
    padding: 0 4dp;
}

hr {
    box-sizing: content-box;
    height: 0;
    border: solid #e8e8e8;
    border-width: 1px 0 0;
    clear: both;
    margin: 25dp 0;
    height: 0;
}

code {
    display: inline-block;
    margin: 0 4dp;
    padding: 1dp 5dp;
    background: [active-color];
    color: #fff;
    font-size: 13dp;
    line-height: 1;
    font-weight: normal;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    /*border-radius: 16dp;*/
    text-shadow: none;
}

code[b] {
    background: [active-color];
}

code[g] {
    background: #00bb2f;
}

scroll.exp {
    margin-bottom: 18dp;
}

@section (table) {
    this {
        min-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: #fff;
    }

    tr {
        border-bottom: solid 1px #f2f2f2;
    }

    thead tr th, tfoot tr th, tfoot tr td, tbody tr th, tbody tr td, tr td {
        display: table-cell;
    }

    tr th {
        text-align: center;
    }

    tr:nth-of-type(even) {
    }

    tbody tr:hover {
        background: #f5f5f5;
    }

    tr th, tr td {
        padding: 8dp 10dp;
        color: #333;
        font-size: 13.3dp;
        line-height: 17.1dp;
        text-align: left;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    thead tr th, thead tr td {
        padding: 8dp 10dp;
        color: [active-color];
        font-size: 14dp;
        font-weight: normal;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    tr td span {
        color: #ed143d;
    }

    tr td span[g] {
        color: #009999;
    }

    tr td span[b] {
        color: #003399;
    }

    code {
        border-radius: 16dp;
        background: #ed143d; 
    }
}

code-highlight {
    display: block;
    margin: 12dp 0 18dp;
}

/* test */
.demo {
    margin: 0 0 20dp;
    /*border: 4dp solid #f8f8f8;*/
}
.demo scroll {
    min-height:128dp;
    background:#f8f8f8;
}

.media {
    margin-bottom: 20dp;
    min-height: 50dp;
}
.media img {
    width: 100%;
}

@media screen and (max-width: [max-width]) {  
    article scroll > scrolling {
        width: 100%;
    }
    scroll[fullscreen] > scrolling {
        width: 100%;
    }
    section.footer {
        margin-bottom: 60dp;
    }
    section h1, section h2, section h3 {
        font-size: 22dp;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 15dp;
        border-bottom: 0;
        color: #000;
    }
}
