<style>
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 998;
		display: none;
	}
	.touch-box {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		opacity: .5;
		transition: all .3s ease;
		transform-origin: top left;
	}
	.touch {
		width: 60dp;
		height: 60dp;
		background: rgba(38,39,40,.8);
		backdrop-filter: blur(20px);
		border-radius: 14dp;
	}
	.touch i.pop {
		position: absolute;
		width: 42dp;
		height: 42dp;
		top: 9dp;
		left: 9dp;
		z-index: 999;
		background: rgba(255,255,255,.3);
		border-radius: 30dp;
		opacity: 1;
	}
	.touch i.pop::before {
		content: ' ';
		position: absolute;
		top: 4dp;
		left: 4dp;
		width: 34dp;
		height: 34dp;
		z-index: 1;
		background: rgba(255,255,255,.4);
		border-radius: 30dp;
		box-shadow: 0 0 0 1px rgba(0,0,0,.4);
	}
	.touch i.pop::after {
		content: ' ';
		position: absolute;
		top: 8dp;
		left: 8dp;
		width: 26dp;
		height: 26dp;
		z-index: 2;
		background: rgba(255,255,255,1);
		border-radius: 30dp;
		box-shadow: 0 0 0 1px rgba(0,0,0,.4);
	}

	.touch-show {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		width: 300dp;
		height: 300dp;
		background: rgba(38,39,40,.85);
		backdrop-filter: blur(20px);
		border-radius: 30dp;
		opacity: 0;
	}

</style>

<div uuid=overlay class=overlay></div>
<div uuid=touch class=touch-box on-tap="tap(event)" on-event-0="touchmove(event)|touchmove" on-event-1="touchstart(event)|mousedown touchstart" on-event-2="touchend(event)|touchend touchcancel" style="opacity:0">
	<div uuid="toucher" class=touch>
		<i uuid=touch-pop class="pop"></i>		
	</div>

	<div uuid=touch-show class=touch-show>
	</div>

	<if toucher>
		<include toucher></include>
	</if>
</div>

<script>
	var timeid, overid
	var touch = node('touch')
	var touchA = touch.Animate()
	var toucher = node('toucher')
	var toucherA = toucher.Animate()
	var touchpop = node('touch-pop')
	var touchshow = node('touch-show')
	var touchshowA = touchshow.Animate()
	var overlay = node('overlay')
	var x, y, s = 0, open
	var scale = 1

	function openTouch () {
		var w = device.ui.width
		var h = device.ui.height
		var sw = touch.width()
		var sh = touch.height()
		var _x, _y

		_x = (w - DP(300)) / 2
		_y = (h - DP(300)) / 2

		touchpop.style.opacity = 0
		touchA.duration(300).origin(0, 0).all().to(_x, _y, 0).end()
		toucherA.duration(0).opacity(0).end()
		touchshowA.duration(0).scale(.2).end(function () {
			touchshowA.duration(300).opacity(1).scale(1).end()
		})

		open = true
		s = -2
	}

	function closeTouch () {
		touchshowA.duration(240).origin(x, y).scale(.2).end(function () {
			toucherA.duration(60).opacity(1).end()
			touchshowA.duration(60).scale(0).end()
		})
		touchA.duration(300).origin(x, y).scale(scale).all().to(x, y, 0).end(function () {
			touchpop.style.opacity = 1

			s = 0
			open = false
		})
	}

	function tap (e) {
		// if ( !scope.toucher ) {
		// 	if ( scope.back ) {
		// 		App.to(-1)
		// 	} else {
		// 		App.to("frameworks")
		// 	}
			
		// 	return 
		// }

		if ( open ) {
			closeTouch()
			App.to(-1)
		} else {
			openTouch()
		}
	}

	function touchmove (e) {
		if ( s !== 2 || open == true ) return

		clearTimeout(overid)

		var point = e.touches ? e.touches[0] : e

		x = point.pageX
		y = point.pageY

		x = x - DP(30)
		y = y - DP(30)

		x = x < 0 ? 0 : x
		y = y < 0 ? 0 : y

		touchA.duration(0).to(x, y, 0).origin(0, 0).scale(scale).instant()

		overlay.style.display = "block"

		overid = setTimeout(function () {
			overlay.style.display = "none"
		}, 300)

		s = 2
	}

	function touchstart (e) {
		if ( s == -2 || open == true ) return

		clearTimeout(timeid)
		touch.css({
			"opacity": "1",
			"backdrop-filter": "blur(20px)"
		})
		s = 2
	}

	function touchend (e) {
		if ( s !== 2 || open == true ) return

		s = 0

		var w = device.ui.width
		var h = device.ui.height

		if ( x <= w/2 - DP(30) && y <= h/2 - DP(30) ) {
			if ( x < y ) {
				x = DP(3)
			} else {
				y = DP(3)
			}
		} else if ( x >= w/2 - DP(30) && y <= h/2 - DP(30) ) {
			if ( w - x < y ) {
				x = w - DP(63)
			} else {
				y = DP(3)
			}
		} else if ( x <= w/2 - DP(30) && y >= h/2 - DP(30) ) {
			if ( x < h - y ) {
				x = DP(3)
			} else {
				y = h - DP(63)
			}
		} else if ( x >= w/2 - DP(30) && y >= h/2 - DP(30) ) {
			if ( w - x < h - y ) {
				x = w - DP(63)
			} else {
				y = h - DP(63)
			}
		}

		touchA.duration(300).to(x, y, 0).origin(0, 0).scale(scale).end()

		timeid = setTimeout(function () {
			touch.css({
				"opacity": ".5",
				"backdrop-filter": "blur(0px)"
			})
		}, 4000)
	}

	if ( !device.os.supportsTouch ) {
		validWindow.on('mousemove', touchmove)
		validWindow.on('mouseup mousecancel', touchend)
	}

	x = device.ui.width - DP(63)
	y = device.ui.height*.7


	register('showin', function () {
		touchA.duration(300).to(x, y).scale(scale).end(function () {
			touch.style.opacity = .4
		})
	})

</script>