body {
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}
scroll[fullscreen] {
	background: #F8F6F2;
}

scroll[flow-x] > scrolling {
	display: -webkit-flex;
	display: flex;
}

scroll.tab-scroll {
	position: absolute;
	width: 100%;
	height: 100%;
}

pulldown {
	top: -30dp;
}

fragment {
	display: block;
}

scroll[fullscreen].tab-content-scroll {
	top: 90dp;
	z-index: 99;
}

.top-block {
	width: 100%;
	height: 45dp;
}

tab-switch {
	display: block;
	position: relative;
	z-index: 1000;
}

scroll.tab-content-scroll scrolling {
	/*height: 101%;*/
}

scroll scrolling {
	background-color: #F8F6F2;
	min-height: 101%;
}

.tab-content {
	box-flex: 1;
	position: absolute;
	top: 0;
	height: 100%;
}

	.user-info-bar {
		padding: 10dp 15dp;
		height: 45dp;
		background-color: #fff;
	}
	.avt-pic {
		float: left;
		width: 25dp;
		height: 25dp;
		background-color: #f5f5f5;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 25dp;
		border: 1px solid #E3E0DB;
	}
	.name-text {
		float: left;
		margin-left: 4dp;
		padding-right: 50dp;
		height: 25dp;
		line-height: 26dp;
		font-size: 14dp;
		color: #4E4E44;
	}
	.note-icon {
		position: relative;
		float: right;
		width: 22dp;
		height: 22dp;
		background-image: url(svg/note.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.note-num {
		position: absolute;
		z-index: 1;
		top: -5dp;
		left: 10dp;
		padding: 1dp 4dp;
		min-width: 15dp;
		height: 15dp;
		border-radius: 15dp;
		background-color: #F85F4C;
		color: #fff;
		font-size: 12dp;
	}

.banner-box {
	height: 150dp;
	position: relative;
}

@var {
	bannerheight: 150dp;
}

scroll.banner-card {
	position: relative;
	display: block;
	height: [bannerheight];
}

@section (scroll.banner-card) {
	scrolling {
		position: absolute;
		z-index: 1;
		height: [bannerheight];
	}

	.slide {
		position: absolute;
		z-index: 2;
		height: [bannerheight];
	}

	.painting {
		height: [bannerheight];
		margin: 0;
		background-position: center;
		background-size: cover;
		background-color: #f5f5f5;
	}

	.painting h1 {
		text-align: center;
		color: #fff;
		font-size: 22dp;
		line-height: [bannerheight];
	}

	scrollbar {
		position: absolute;
		z-index: 9999;
		bottom: 7dp;
		left: 50%;
		z-index: 9;
		height: 7dp;
		transform: translate(-50%, 0px) translateZ(0px);
		overflow: visible !important;
		box-sizing: border-box;
	}

	.dotty {
		position: absolute;
		z-index: 1;
		width: 7dp !important;
		height: 7dp !important;
		background: rgba(255,255,255,1);
		border-radius: 7dp;
	}
	.dotty-li {
		margin: 0;
		line-height: 7dp;
		font-size: 7dp;
	}
	.dotty-li .dot {
		float: left;
		display: block;
		width: 7dp;
		height: 7dp;
		background: rgba(255,255,255,.5);
		font-size: 0;
		border-radius: 7dp;
	}
	.dotty-li .pipe {
		float: left;
		display: block;
		width: 7dp;
		height: 7dp;
	}
}

	.select-topic {
		background: #ffffff;
		box-sizing: border-box;
		overflow: hidden;
	}

		.select-topic-header{
			line-height: 32dp;
			height: 32dp;
			font-size: 13dp;
			color: #4E4E44;
			background: #F8F6F2;
			text-align: center;
		}

		.topic-list	{

		}

			.topic-content-bowser {
				padding: 15dp 15dp 15dp 0;
				border-top: 1px solid #E3E0DB;
				margin-left: 10dp;
				overflow: hidden;
				position: relative;
			}

			.first {
				border-top: 1px solid transparent;
			}

			.topic-content-bowser.active {
				opacity: .7;
			}

				.experience-counts {
					position: absolute;
					top: 50%;
					left: 0;
					font-size: 11dp;
					color: #F85F4C;
					width: 50dp;
					line-height: 18dp;
					height: 18dp;
					border-radius: 2dp;
					border: 1px solid #F85F4C;
					text-align: center;
					margin-top: -9dp;
					box-sizing: border-box;
					z-index: 1;
				}

					.more{
						line-height: 0;
						font-size: 8dp;
					}

				.topiclist-title {
					margin-left: 57dp;
					overflow: hidden;
					font-weight: bolder;
					word-break : break-all;
					font-size: 16dp;
					color: #4E4E44;
					line-height: 1.5;
				}

		.more-topic {
			text-align: center;
			line-height: 40dp;
			color: #888888;
			font-size: 13dp;
		}

		.more-topic.active {
			opacity: .7;
		}

			.entry-to-more {
				margin-left: 3dp;
				display: inline-block;
				background: url(svg/go.svg) no-repeat center center;
				background-size: contain;
				width: 12dp;
				height: 40dp;
				vertical-align: bottom;
			}

		.experience-card-header {
			line-height: 32dp;
			height: 32dp;
			font-size: 13dp;
			color: #4E4E44;
			background: #F8F6F2;
			text-align: center;
		}


	.experience-card {
		list-style: none;
		margin-bottom: 10dp;
		position: relative;
	}

		.select-logo {
			width: 43dp;
			line-height: 19dp;
			height: 19dp;
			position: absolute;
			left: 0;
			top: -6dp;
			background: url(svg/select.svg) center center no-repeat;
			background-size: contain;
			color: #fff;
			z-index: 1;
		}

			.select-text {
				display: inline-block;
				text-align: center;
				width: 38dp;
				font-size: 11dp;
			}

		.card-container {
			background: #ffffff;
			box-sizing: border-box;
			padding: 0 15dp;
			overflow: hidden;
		}
			
			/*.topic-title {
				font-size: 18dp;
				box-sizing: border-box;
				padding: 18dp 0 11dp 0;
				color: #4E4E44;
				min-height: 20dp;
				word-break: break-all;
				font-weight: bolder;
			}*/

			.topic-title.active {
				opacity: .7;
			}

			.experience-content {
				position: relative;
			}
			.experience-content.active {
				opacity: .7;
			}

				.main-content {
					overflow: hidden;
				}

					.text {
						max-height: 100dp;
						min-height: 3em;
						color: #888888;
						font-size: 13dp;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient:vertical;
						overflow: hidden;
						position: relative;
						line-height: 1.6;
						word-break: break-all;
					}

					.main-img-box {
						width: 70dp;
						height: 70dp;
						float: right;
						border-radius: 7dp;
						margin-left: 25dp;
						background-color: #f5f5f5;
						background-image: url(/frameworks/svg/nopic.svg);
						background-size: 24dp 24dp;
						background-position: center;
						background-repeat: no-repeat;
					}

					.main-img {
						width: 70dp;
						height: 70dp;
						background-size: cover;
						background-position: center;
					}

				.row-line {
					height: 1px;
					width: 49dp;
					background: #E3E0DB;
					margin: 12dp 0 7dp 0;
				}

				.content-footer {
					color: #BBBBBB;
					font-size: 13dp;
					overflow: hidden;
					margin-bottom: 13dp;
					line-height: 25dp;
					height: 25dp;
				}

				.count-wrapper {
					float: right;
					text-align: right;
				}
					.comment-counts {
						display: inline-block;
						background: url(svg/eye.svg) 0 center no-repeat;
						background-size: auto 16dp;
						background-position: 0 1px;
						padding-left: 20dp;
						height: 15dp;
						line-height: 17dp;
						color: #616161;
						font-size: 12dp;
					}

					.like-counts {
						margin-left:30dp;
						display: inline-block;
						background: url(svg/heart.svg) 0 center no-repeat;
						background-size: auto 16dp;
						background-position: 0 1px;
						padding-left: 20dp;
						height: 15dp;
						line-height: 17dp;
						color: #616161;
						font-size: 12dp;
					}

					.like-counts.active {
						background-image: url(svg/heart-a.svg);
					}


					.head-img {
						width: 25dp;
						height: 25dp;
						border-radius: 25dp;
						float: left;
						background-color: #f5f5f5;
						background-size: cover;
						background-position: center;
						border: 1dp solid #E3E0DB; 
					}

					.author {
						max-width: 10em;
						height: 25dp;
						line-height: 25dp;
						font-size: 13dp;
						color: #BBBBBB;
						float: left;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin-left: 5dp;
					}

.user-info-bar {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.topic-card {
	padding: 0 8dp;
	background: #fff;
	margin: 10dp 0;
}
	.topic-bar, .hot-bar {
		height: 40dp;
		line-height: 40dp;
		text-align: center;
		font-size: 14dp;
		color: #888888;
		background: #fff;
	}

	.topic-card-item .topic-item {
		margin: 0 0 4dp;
	}

.feed-item {
	padding: 15dp;
	margin-bottom: 10dp;
	background: #fff;
}
.feed-title {
	margin-bottom: 15dp;
	max-height: 44.5dp;
	font-size: 18dp;
	font-weight: bold;
	line-height: 24dp;
	color: #4E4E44;
	line-clamp: 2;
    box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
}

.select-topic-icon {
	float: left;
	margin-right: 4dp;
	margin-top: 3dp;
	padding: 0 7dp;
	height: 17dp;
	line-height: 17dp;
	font-size: 12dp;
	color: #fff;
	background: #F85F4C;
	border-radius: 3dp;
}
.feed-desc {
	margin-bottom: 10dp;
	font-size: 15dp;
	line-height: 1.4;
	color: #888888;
    display: box;
	line-clamp: 3;
	box-orient: vertical;
	word-break: break-all;
    overflow: hidden;
}
.feed-grid {
	margin-bottom: 10dp;
}

.feed-grid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }

.grid-pic {
	background-size: cover;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center;
}

.grid-pic-0 {
	float: left;
	width: calc((100vw - 30dp) * 0.67246);
	height: calc((100vw - 30dp) * .449);
}

.grid-pic-0.d-h {
	height: calc((100vw - 30dp) * 0.67246);
	width: calc((100vw - 30dp) * .449);
}

.grid-pic-1, .grid-pic-2 {
	float: right;
	width: calc((100vw - 30dp) * 0.31014);
	height: calc((100vw - 30dp) * .2245 - 3dp);
}

.grid-pic-1 {
	margin-bottom: 6dp;
}

.grid-more-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
	font-size: 15dp;
	line-height: 100%;
}

.pic-num {
	padding-top: 30%;
}


.feed-foot {
	height: 25dp;
	font-size: 13dp;
	line-height: 25dp;
	color: #BBBBBB;
}
.feed-avt {
	float: left;
}
	.feed-avt .head-pic {
		float: left;
		height: 25dp;
		width: 25dp;
		border-radius: 25dp;
		background-size: cover;
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: center;
	}

	.feed-avt .user-name {
		float: left;
		height: 25dp;
		line-height: 27dp;
		margin-left: 4dp;
		font-size: 13dp;
		color: #616161;
	}

.topic-item {
	margin: 0 8dp 10dp;
}
.topic-banner {
	width: 100%;
	height: 92dp;
	color: #fff;
	text-align: center;
	background-size: cover;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center;
}
.topic-banner-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.sub-title {
	padding-top: 20dp;
	font-size: 12dp;
	line-height: 12dp;
}
.topic-title {
	display: box;
	padding: 8dp 10dp 0;
	font-size: 15dp;
	line-height: 1.4;
	line-clamp: 2;
    box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    font-weight: bold;
}

.expert-icon {
	display: inline-block;
	width: 16dp;
	height: 25dp;
	margin: 0 5dp; 
	background: url(/space/svg/star.svg) center no-repeat;
	background-size: 16dp auto;
}
scrollcover {
	position: absolute;
	top: 100dp;
	width: 100%;
	text-align: center;
	color: #4E4E44;
	font-size: 13dp;
	z-index: 999;
}